<html>
<head>
<center>
<title>Birthday App</title>
</head>
<h1>"Hello There"</h1>
<body style="margin: 0px; background: #f88379;">
  <form action="/" method="post">
  <label>"What's your name?"</label> <br></br>
  <input type="text" name="name" />  <br></br>
  <label> "When's your birthday?"</label><br></br>
  <input type="date" name="birthday" /><br></br>
  <input type="submit" value="Go!" />
  </form>
</body>
</center>
</html>